@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Saira:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

header {
  background-color: rgb(55, 54, 54);
  color: rgb(178, 178, 178);
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin: 0.3rem;
}

nav li a {
  color: rgb(178, 178, 178);
  text-decoration: none;
}

main ul {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

main li {
  list-style: none;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.name p {
  font-size: 13px;
}

.name p i {
  margin-right: 0 0.5rem;
}

button {
  width: 100%;
  font-size: 16px;
  margin: 5px 0;
}

.img img {
  width: 100%;
}

footer {
  background-color: rgb(55, 54, 54);
  padding: 1rem;
  width: 100%;
  bottom: 0;
  color: rgb(178, 178, 178);
  font-size: 14px;
}

@media (min-width: 768px) {
  header,
  footer {
    padding: 1rem 3rem;
  }

  main {
    width: 80%;
    margin: 1rem auto;
    position: relative;
  }

  main ul {
    padding: 1rem 2rem;
  }

  main ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .name p {
    font-size: 18px;
  }

  main button {
    font-size: 20px;
  }

  .ident,
  .comment,
  .addcomment {
    width: 60%;
    margin: 0 auto;
  }

  .ident .image {
    height: 220px;
    width: 100%;
    margin: 0 auto;
  }

  .ident .image img {
    height: 100%;
  }
}

<!-- Modal pop up session 
/* main {
  position: relative;
} */
.popup {
  /* display: none;
  position: fixed;
  z-index: 78;
  width: 100%;
  height: 1000px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  background-color: purple;
  align-items: center; */
  display: none;
  position: fixed;
  align-items: center;
  left: 0;
  top: 1%;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(65, 63, 63, 0.6);
}

.popup_container {
  border: 1px solid green;
  background-color: #fff;
  padding: 5px 20px;
  margin: 50px auto;
  width: 80%;
  height: 100%;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0 5px 12px rgba(5, 50, 200, 0.5), 0 5px 12px rgba(5, 50, 200, 0.5);
}

.popup-header {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 2fr));
  margin: 0 auto;
  justify-content: space-between;
  /* column-gap: 124px; */
  background-color: blue;
  margin: 18px auto;
}

.res-img {
  width: auto;
  margin-left: 10%;
  border-radius: 20px;
}

.res-form {
  width: 100%;
}

#add-reserve {
  color: black;
  height: 20px;
  box-shadow: 2px 4px black;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;
  padding: 4px 6px;
  margin-top: 12px;
  width: auto;
  display: block;
  font-size: 12px;
}

input {
  width: 80%;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
}

.res-summary,
.form_heading {
  text-align: center;
}

.res-summary-note {
  font-size: 8px;
  color: aqua;
}

.fa-xmark {
  background: none;
  border: none;
  font-size: 28px;
}

.close-h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
